body {
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.login-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    display: block;
    margin: 0 auto;
    width: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #0095ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-options {
    margin-top: 20px;
}

.login-options p {
    margin-bottom: 5px;
}

.signup-link {
    margin-top: 20px;
}
